html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.register{
    color:rgb(85, 85, 85);
    margin-top:15px;
    display: inline-block;
}

.register:hover{
    color: rgb(125, 125, 125);

}

.register-button{
    background-color: rgba(242, 170, 0, 0.89) !important;
    border-color:#d2d6de !important;
    color:rgb(85, 85, 85);
}

.register-button:hover{
    background-color: rgba(255, 188, 0, 0.89) !important;
    color: rgb(125, 125, 125);
}

.login-box-body{
    padding-bottom: 12px !important;
}

.skin-blue .main-header .navbar{
    background-color:rgba(119, 119, 119, 0.87) !important;
}

.main-header .logo{
    background-color:rgb(107, 109, 109) !important;
}

.content-wrapper {
    background-color:white !important;
}

.skin-blue .main-header li.user-header{
    background-color:rgba(119, 119, 119, 0.87) !important;
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu{
    border:1px solid #d2d6de !important;
}

aside.main-sidebar{
    background-color:rgb(197, 197, 197) !important;
}

.sidebar-menu.tree > li > a:hover{
    background-color:inherit !important;
}

.sidebar-menu.tree li.header{
    background-color:#2b2b2bc9 !important;
    color:white !important;
}

.btn.btn-success{
    background-color: rgba(242, 170, 0, 0.89) !important;
    border-color:#d2d6de !important;
    color:rgb(85, 85, 85);
}

.btn.btn-success:hover{
    background-color: rgba(255, 188, 0, 0.89) !important;
    color: rgb(125, 125, 125);
}

.skin-blue .sidebar a {
    color: #404040 !important;
}

.skin-blue .sidebar a:hover {
    color: #6a6a6a !important;
}

.text-success {
    color:rgba(242, 170, 0, 0.89) !important;
}

.table.table-striped.table-bordered a {
     color: #404040 !important;
 }

.table.table-striped.table-bordered a:hover{
    color: #6a6a6a !important;
}

.skin-blue .sidebar .active a {
    background-color:rgb(197, 197, 197) !important;
    border:none;
}

.skin-blue .sidebar .active a:hover {
    background-color:rgb(197, 197, 197) !important;
    border:none;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color:rgb(197, 197, 197) !important;
}
